header {
    background-color: rgba(0, 0, 0, .9);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

h2 {
  text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr,
th,
td {
    padding: 15px 20px;
    text-align: left;
    
}

td:first-child,
td:last-child {
    /* border-radius: 5px; */
}

tr:last-child,
td {
    border: none;
}

tr:hover {
    background-color: rgba(255, 255, 255, .1);
    
}

thead tr:hover:first-child {
    background-color: transparent;
}

thead {
    border-bottom: 0.5px solid rgba(255, 255, 255, .2);
    background-color: rgba(255, 255, 255, .08);
    padding-left: 0;
}

.purple {
    color: purple;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 115px auto 65px;
}

.search-input {
    margin-bottom: 40px;
    width: 30%;
    height: 2.5em;
    border-radius: 5px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    color: purple;
}

.button {
    padding: 12px 23px;
    border-radius: 20px;
    /* background-color: rgba(90, 34, 139, 1); */
    background-color: purple;
    color: white;
    border: none;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); */
    color: white;
    transition: all 0.5s;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(102, 51, 153);
    color: white;
    
}

.result-playlist-container {
    display: flex;
    justify-content: center;
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    gap: 40px;
    color: white;
}

.result-container,
.playlist-container {
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    min-height: 300px;
    width:45%;
    border-radius: 10px;
    /* padding: 0 10px; */
}