header {
    background-color: rgba(0, 0, 0, .9);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 5px;
}

h1 {
    margin: 0;
    display: flex;
}

.purple {
    color: purple;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px auto;
}

.search-input {
    margin-bottom: 40px;
    width: 30%;
    height: 2.5em;
    border-radius: 5px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    color: purple;
}

.button {
    padding: 12px 23px;
    border-radius: 20px;
    /* background-color: rgba(90, 34, 139, 1); */
    background-color: purple;
    color: white;
    border: none;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); */
    color: white;
    transition: all 0.5s;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(102, 51, 153);
    color: white;
    
}